input {
    background-color: white;
    color: black;
    width: 400px;
}

select, button {
    width: 400px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.caracteristica{
    margin: 5px;
}